/* css font family */
 
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Righteous&family=Ysabeau+SC:wght@1;100;200;300;400;500;600;800&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
body{
    font-family: 'Open Sans', sans-serif;
}

/* navigation bar start css  */

.header-section{
    background-color: #FFF8F3;
    width: 100%;
    background-image: url(images/header_bg.png);
    
    background-repeat: no-repeat;
    background-position: bottom right;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
    /* background-image: url(images/developer.png);
    background-position: bottom left ;
    background-repeat: no-repeat; */
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;

}
nav a{
    text-decoration: none;
    color: black;
}
.title-r{
     color: #FD6E0A;
     font-weight: 800;
     
     
}
.nav-logo{
    font-size: 45px;
    color: #181818;
}
.primary-btn{
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    color: white;
    background-color: #FD6E0A;
    border-radius: 5px;
    font-weight: 550;
    max-width: 150px;
}
.btn-new{
    background: white;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
}
/* banner-section start */
.banner-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0px 150px;
}
.banner-content{
  width: 500px;
}
.banner-img img{
    width: 600px;
}
.banner-title{
    color:  #474747;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.banner-heading{
color: #181818;
font-family: Open Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
margin-bottom: 20px;
}
.banner-p{
color:  #757575;
font-family: Open Sans;
font-size: 15px;
font-weight: 400;
margin-bottom: 20px;
 
}
.banner-content span{
    font-weight: 400;
    margin-right: 6px;
     
}

/* about section start  */

.about-section{
    background-color: #FFF8F3;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    margin-top: 100px;
    transform: (50% - 50%);
    border-radius: 10px;
    border-left: 8px solid #FD6E0A;
}
.about-h2{
    color:#181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}
.about-p{
color:  #757575;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-bottom: 30px;
}
.about-address{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-info p{
    color: #757575;
    margin-bottom: 8px;
}

/* EDUCATION SECTION START  */

.education-section{
    margin: auto;
    text-align: center;
    margin-top: 100px;
}
.education-section h3{
color:  #474747;
font-family: Open Sans;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.education-content{
    margin-top: 50px;
}
.education-content h3{
color:  #181818;
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 20px;
}
.education-content p{
 color: var(--dark-03, #757575);
text-align: center;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
width: 800px;
margin: 0 auto;
margin-bottom: 80px;
margin-top: 20px;
}
.card{
    width: 250px;
    padding: 30px;
    box-shadow: 5px 4px 30px rgba(0, 0, 0, 0.097);
    border-top: 5px solid #FD6E0A;
    border-radius: 10px 0 0 0px;
    text-align: left;
}
.education-card{
    display: flex;
    align-items: center;
    justify-content:space-evenly ;
}
.card strong{
color: var(--dark-01, #181818);
text-align: center;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.card p{
    color: var(--dark-03, #757575);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
margin-top: 10px;
}
.card img{
    display: block;
}

/* Experiance section start  */

.ex-section{
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
}
.ex-section h1{
    color: var(--dark-01, #181818);
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.ex-content h2{
    color: var(--dark-02, #474747);
font-family: Open Sans;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.ex-content{
    margin-top: 70px;
}
.ex-card-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
}
.ex-card{
    width: 500px;
    margin-right: 30px;
    padding: 20px;
    text-align: left;
    margin-bottom: 20px;
    border-bottom: 2px solid #fd6f0a43;
    box-shadow: 1px 7px 30px #411b0115;
    border-left: 5px solid rgb(0, 107, 195);
    border-radius: 7px 0px 0px 7px;
}
.ex-card span{
    color: var(--dark-03, #757575);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.ex-card strong{
    color: var(--dark-02, #474747);
font-family: Open Sans;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 10px;
}
.ex-card p{
    color: var(--dark-03, #757575);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
margin-top: 20px;
}

/* footer section start  */

footer{
    background-color: #FFF8F3;
    margin-top: 70px;
    
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* justify-content: center; */
    margin-top: 30px;
    padding: 30px;
}
.footer-text{
    width: 400px;
}
.footer-form{
    width: 500px;
}
.footer-form input{
    display: block;
    border: none;
    background: white;
    padding: 18px 8px;
    width: 350px;
    margin-bottom: 15px;
    outline: none;
    border-radius: 5px;
    margin-top: 30px;
}
.footer-form textarea{
    display: block;
    border: none;
    background: white;
    padding: 15px 15px;
    width: 350px;
    margin-bottom: 10px;
    outline: none;
    border-radius: 5px;
    margin-top: 15px;
}
::placeholder{
    font-size: 16px;
    color: #7575757f;
     
}
.footer-form strong{
    font-size: 25px;
}
.footer-text strong{
    font-size: 23px;
    margin-bottom: 20px;
}
.footer-text p{
    margin-top: 20px;
}
.with{
    width: 100%;
}
.footer-icon span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: white;
    display: inline-block;
    margin-top: 20px;
    color: #FD6E0A;
    border-radius: 50%;
    border: 1px solid #FD6E0A;
    cursor: pointer;
}
.footer-icon span:hover{
    color: white;
    background-color: #FD6E0A;
    border: 1px solid white;
    transition: all .3s;
}

/* RESPONSIVE PART START  */


@media screen and (max-width: 576px) {
    
    .header-section{
        background-size: contain;
    }
     nav{
        display: flex;
        flex-direction: column;
         
        
        
        
    }
    .banner-section{
        display: flex;
        flex-direction: column;
        padding-left: 0;
        
        
    }
    .banner-img img{
        
        width: 100%;
    }
    .banner-content{
         padding-left: 120px;
         width: 100%;
    }

    .about-address{
        display: flex;
        flex-direction: column;
         
    }
    .about-info{
        margin-bottom: 40px;
    }
    .about-section{
        width: 90%;
        padding: 30px;
    }
    .education-section{
        width: 100%;
        padding: 30px;
    }
    .education-card{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .education-content p{
        width: 90%;

    }
    .ex-card{
        width: 400px;
    }
    .ex-card strong{
        display: block;
    }
    .footer-content{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .footer-form{
        width: 100%;
    }
}